<style>
    td {
        background-color: #123321;
        color: #deffed;
        width: 30px;
        height: 30px;
        box-shadow: 1px 1px 3px black;
        text-align: center;
        text-shadow: 1px 1px 3px white;
    }
    h2 {
        text-align: center;
    }
</style>    
<h2>Lottószámgenerátor</h2>
<table>
<? x.forEach( v => { ?>
    <td><?- v ?></td>
<? } ) ?>
</table>
<form method="POST" action="/">
<hr>
<button type="submit">Frissít</button> - <?- y ?>
</form>
</h1>
<hr>
