<style>
    td {
        background: #abedde;
        width: 30px;
        height: 30px;
        box-shadow: 1px 1px 3px black;
        text-align: center;
    }
</style>    
<h1>Cucc</h1>
<table>
<? x.forEach( v=> { ?>
    <td><?- 2*v ?></td>
<? } ) ?>
</table>
</h1>
<hr>
